@media screen and (max-width: 992px)
 {

    .logo, .logo *{
        pointer-events: all !important;
    }
    #ticker-container{
        bottom: auto;
        height: 35vh;
        max-height: 35vh;

    }    

   
    .mobile-only{
        display: block;
    }
    .desktop-only{
        display: none !important;
    }
    #mobile-nav-dots{
        flex-direction: row;
        width: 80vw;
        padding-left: 10vw;
        right: unset;
        display: flex;
    }
    .dot-wrap a{
        display: flex;
        flex-direction: column;
    }

    .mobile-headers h3{
        font-size: 24px;
        position: absolute;
        left:0;
        right:0;
        top: 0;
        bottom: 0;
        text-align: center;
        height: 25vh;
        display: none;
        margin: auto;
        color: black;
        display: none;
        opacity: 0;
    }

    .new-text-section{
        padding: 10px;
        max-height: 33vh;
        overscroll-behavior: contain;
        pointer-events: all;

        overflow-y: auto;
        -webkit-overflow-scrolling: touch; /* Enables smooth touch scrolling */
        scroll-behavior: smooth;    
        pointer-events: all;
      }




      @media screen and (orientation: landscape){
        .main-logo{ width: 30vw; }
        #mobile-nav-dots { margin:0; margin-top:10vh; }
        #ticker * { font-size: clamp(16px, 1.3vw, 32px)}
      }
}